out/
work/
packages/container
logs/
# package databases
packages/packages.db
packages/packages.db.tar.zst
packages/packages.db.tar.zst.old
packages/packages.files
packages/packages.files.tar.zst
packages/packages.files.tar.zst.old
# exclude package sources
packages/tobuild/*/*/
# package tarballs
packages/tobuild/*/*.tar.*
*.pkg.tar.zst

# build files left despite -c flag on makepkg
packages/tobuild/clapper/clapper-*
packages/tobuild/firefox-*/*.xpi
fx-folder.zip?raw=true

# to test archinstall
disk.qcow2
