out/
work/
packages/container
# go is annoying
packages/go
logs/
# package databases
packages/packages.db
packages/packages.db.tar.zst
packages/packages.db.tar.zst.old
packages/packages.files
packages/packages.files.tar.zst
packages/packages.files.tar.zst.old
# exclude package sources
packages/tobuild/*/*/
# package tarballs
packages/tobuild/*/*.tar.*
*.pkg.tar.zst

# package builds residues
!packages/tobuild/*/
packages/tobuild/*/*
!packages/tobuild/*/PKGBUILD
!packages/tobuild/*/*.patch
!packages/tobuild/lsb-release/lsb-release
